## 👋 Hi, I'm Manikandan

I'm a Full-Stack Web Developer from Chennai, 🇮🇳 India. I specialize in creating clean, efficient, and scalable code. Passionate about learning new technologies and delivering innovative solutions.

## 🤝 Connect with me

- Personal Website: https://xqsit.dev
- LinkedIn: https://www.linkedin.com/in/xqsit94
- Github: https://github.com/xqsit94

{{if .ShowPosts}}
## 📝 Latest Posts
{{range .Posts}}- [{{.Title}}]({{.Link}})
{{end}}
{{- end}}
## 📈 Github Stats (Past Year)

- Total Commits: {{.Github.Commits}}
- Total Stars: {{.Github.Stars}}
- Total PRs: {{.Github.PullRequests}}
- Total Contributions: {{.Github.Contributed}}
- Total Issues: {{.Github.Issues}}


<details>
  <summary>Experience ({{.Profile.TotalExperience}})</summary>

  {{range .Profile.Experience}}#### {{.Company}}
  *{{.Role}}*

  <sup>{{.DateRange}} ({{.Duration}}) • {{.Location}}</sup>

  ---
  {{end}}
</details>

<details>
  <summary>Education</summary>

  {{range .Profile.Education}}#### {{.Institution}}
  *{{.Degree}}*

  <sup>{{.StartYear}} - {{.EndYear}}</sup>

  ---
  {{end}}
</details>
